vmess=103.252.94.224:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls13=true,aead=true,fast-open=true,udp-relay=true,tag=VN01

vmess=103.75.185.216:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls13=true,aead=true,fast-open=true,udp-relay=true,tag=VN02
vmess=103.252.94.202:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls13=true,aead=true,fast-open=true,udp-relay=true,tag=VN03

vmess=165.22.110.167:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls13=true,aead=true,fast-open=true,udp-relay=true,tag=SG01

vmess=139.59.100.77:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls-host=dl.ks.freefiremobile.com,aead=true,fast-open=true,udp-relay=true,tag=SG02

vmess=165.22.110.128:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls-host=dl.ks.freefiremobile.com,aead=true,fast-open=true,udp-relay=true,tag=SG03

vmess=103.75.185.221:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls-host=dl.ks.freefiremobile.com,aead=true,fast-open=true,udp-relay=true,tag=VN04

vmess=103.75.185.226:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls-host=dl.ks.freefiremobile.com,aead=true,fast-open=true,udp-relay=true,tag=VN05

vmess=103.75.184.111:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls-host=dl.ks.freefiremobile.com,aead=true,fast-open=true,udp-relay=true,tag=VN06

trojan=103.154.62.157:443,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,over-tls=true,tls-verification=false,tls-host=dl.ks.freefiremobile.com,fast-open=true,udp-relay=true,tag=VN07
trojan=103.154.62.160:443,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,over-tls=true,tls-verification=false,tls-host=dl.ks.freefiremobile.com,fast-open=true,udp-relay=true,tag=VN08
trojan=103.154.62.161:443,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,over-tls=true,tls-verification=false,tls-host=dl.ks.freefiremobile.com,fast-open=true,udp-relay=true,tag=VN09

vmess=103.252.94.224:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls13=true,aead=true,fast-open=true,udp-relay=true,tag=VN10
vmess=103.252.94.202:443,method=chacha20-poly1305,password=9fa7abd2-c38e-4474-9d4e-0e315a072be3,obfs=wss,obfs-uri=/bs,obfs-host=dl.ks.freefiremobile.com,tls-verification=false,tls13=true,aead=true,fast-open=true,udp-relay=true,tag=VN11